{% extends "layout.html" %} {% block body %}
<div class="bg-white jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 align-self-center">Digital Strawberry</h1>
        <p class="lead"> Демо-приложение автоматического мониторинга роста клубники</p>
        <form id="" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            Выбрать изображение ..
            <input name="file" type="file" id="inputGroupFile04" accept="image/*">
            <button type="submit" class="btn btn-primary"> Старт </button>
        </form>
    </div>
</div>
{% endblock %}